:root {
  --ifm-color-primary: #1f6feb;
  --ifm-color-primary-dark: #1a5fcf;
  --ifm-color-primary-darker: #1757c0;
  --ifm-color-primary-darkest: #144ba3;
  --ifm-color-primary-light: #3380f0;
  --ifm-color-primary-lighter: #3f8af3;
  --ifm-color-primary-lightest: #5aa0f7;
}
